body{
    margin: 0px;
    padding: 0px;
}
.section1{
    border: 2px solid rgb(11, 10, 10);
    margin: 15px;
    padding-bottom: 35px;
}
h1{
    text-align: center;
    font-size: 2.3em;
    font-style: normal;
    letter-spacing: 5px;
}
.kkdepense{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;

    
}
#budget{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.2em;
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 15px;
    margin-right: 15px;
}


.liste_depensedeprev{
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
}
.section1 table{
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
    caption-side: top;
}
.section1 tr,th,td{
    font-size: 1.2em;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
}

.buttondep{
    width: 140px;
    height: 45px;
    border: 2px ;
    border-radius: 7px;
   background-color: rgb(73, 73, 247);
    font-size: 0.9em;
    font: bold;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.buttondep:hover{
   background-color: rgb(248, 127, 127);
}
.buttonrev{
    width: 140px;
    height: 45px;
    border: 2px ;
    border-radius: 7px;
    background-color:rgb(241, 60, 15);
    font-size: 1em;
    font: bold;
    margin-bottom: 25px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.buttonrev:hover{
    background-color: rgb(171, 171, 100);
}
.section2{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ajouter{
    display: flex;
    flex-direction: column;
}
.form-titre input{
    font-size: 1em;
    width: 250px;
    height: 30px;
    margin: 15px;
}
.form-montant input{
    font-size: 0.9em;
    width: 250px;
    height: 30px;
    text-align: left;
}
.ajouter_depense{
    padding: 25px;
    border: 2px solid black;
    width: 35%;
    align-items: center;
}
.ajouter_depense h2{
    text-align: center;
}
.ajouter_revenus{
    padding: 25px;
    border: 2px solid black;
    width: 35%;
    align-items: center;
}
.ajouter_revenus h2{
    text-align: center;
}
.button{
    margin-top: 30px;
    text-align: right;
}
#title{
    width: 200px;
    height: 35px;
    font-size: 1.5em;
    border: none;
    margin-bottom: 25px;
}
#amount{
    width: 100px;
    height: 25px;
    font-size: 1.2em;
    border: none;
}
legend{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 15px;
}

.itemrevenu, .itemdepense
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    border-bottom: 1px solid saddlebrown;
}
.item__income,.item__expense
{
    margin-left: 25px;
    display: flex;
    align-items: center;
}
.symbol{
    margin-left: 7px;
}
.fa-solid {
    color: red;
    background-color: var(--red);
    cursor: pointer;
    display: inline-block;
  }
@media screen  and (max-width:780px) {
    body{
        background-color: rgb(221, 221, 235);
    }
    .mouvement{
        display: flex;
        justify-content: flex-start;
        margin-left: 0px;
    }
}